body {
	margin: 15px;
}

h1 {
	margin: 25px 25px 25px 25px;
	font-size: 20px;
	font-family: Tahoma;
	font-weight: bold;
}

p {
	font-size: 14px;
	font-family: Tahoma;
}

#layers_container {
	font-size: 10px;
	left: 10px;
	position: relative;
	width: 250px;
}

#time_slider_pane {
	position: relative;
	left: 5px;
	width: 180px;
	font-size: 11px;
	border: 1px solid #333;
	height: 30px;
	background-color: #456;
	color: #FFF;
}